@model MVC.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

    </dl>
    <hr/>
    <h2>Lista de estadias</h2>
    <table class="table">
        <tr>
            <th>Data Entrada</th>
            <th>Quarto</th>
        </tr>
        @foreach(var estadia in Model.listaEstadias)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => estadia.data_entrada)</td>
                    <td>@Html.DisplayFor(modelItem => estadia.QuartoID)</td>
                </tr>
            }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
